PORT=5001

# Database Connection
DATABASE_URL=postgresql://postgres:postgres@auth-postgres:5432/auth_service?schema=public

# JWT Secret Keys
JWT_SECRET=
JWT_REFRESH_SECRET=

# Token Expiration Time
JWT_REFRESH_EXPIRES_IN="7d"  # เวลาหมดอายุของ Refresh Token

# Google OAuth Settings
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
ENABLE_RABBITMQ=true