# Node.js
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Docker-related files
.dockerignore
Dockerfile

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
tmp/
